<h1>Héroes <small>Marvel y DC </small></h1>
<hr>

<div class="card-columns">

  <!--*ngFor="let locos of heroes; let i = index"-->

  <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="locos" [index]="i" *ngFor="let locos of heroes; let i = index"></app-heroe-tarjeta>

</div>
