<h1>Buscando: <small>{{termino}} </small></h1>
<hr>

<div class="row"*ngIf="heroes.length == 0 ">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      no existen resultados con el termino: {{termino}}
    </div>

  </div>
</div>

<div class="card-columns">

  <app-heroe-tarjeta [heroe]="locos" [index]="i" *ngFor="let locos of heroes; let i = index"></app-heroe-tarjeta>


</div>
