
<h1>{{heroe.nombre}}</h1> <small>{{heroe.aparicion}}</small>
<hr>

<div class="row animated fadeIn fast">

  <div class="col-md-4">

  <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
  <br><br>
  <a href="heroes" class="btn btn-outline-danger btn-block">Regresar </a>
  </div>

  <div class="col-md-8">
    <h3>{{heroe.nombre}}</h3>
    <hr>
    <p>
      {{heroe.bio}}
    </p>
    <div >
      <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="./assets/img/DC.jpg" alt="">
      <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="./assets/img/marvel.png" alt="">

    </div>

  </div>
</div>
